.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 5px;
    gap: 10px; /* Menambahkan jarak horizontal antara ikon dan teks */
    max-height: 25px;
}

.icon-box a i {
    font-size: 2.5rem;
    color: #d9534f;
}

.icon-box a p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}
